body {
    text-align: center;
    background: url("475905453_17882652885218651_3294001842423488056_n.jpg");
    background-size: 105%;
    background-position-y: 40%;
    background-position-x: 101%;
    margin: 0;
}
#IMG1 {
    border-radius: 50%;
    border: 4px groove gray;
    max-width: 350px ;
    min-width: 200px;
    object-fit: cover;
    margin: 20px 0 0 0;
}
p {
    font-size: 22px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    max-width: 680px;
    margin: 20px auto;
}
.IMG2 {
   border-radius: 50%;
    width: 12%;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 8px;
}
.A1 {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px 15px;
    border-radius: 20px;
    margin: 8px auto;
    transition: background-color 0.3s;
    width: 18%;
}
.A1:hover {
    background-color: rgba(200, 200, 200, 0.9);
}
