body {
    text-align: center;
    background: url("475905453_17882652885218651_3294001842423488056_n.jpg");
    background-size: cover;
    background-position-y: 33%;
}
img {
    border-radius: 100%;
    border-color: gray;
    border-style: groove;
}
p {
    font-size: 22px;
}
input {
    font-size: 18px;
    border: 0px;
    padding: 10px;
}
input[type="submit"] {
    color: wheat;
    background-color: rgba(220, 0, 0, 20);
}